* {
    margin: 0;
    padding: 0;
}


header, main, body, footer {
    font-family: 'DM Sans', sans-serif;;
}    

#container {
    width: 60%;
    margin: 0 auto;
}

header {
    background-color: rgb(14, 14, 41);
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 15px; 
    padding: 15px;
}



main {
    padding: 1em;
    margin-left: -20px;
    text-align: center;
}


ul {
    text-align: left;
}


hr {
    margin-right: 200px;
}

nav {
    margin-left: 30px;
    padding: 10px;
}

footer {
    background-color: rgb(14, 14, 41);
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px;
}

img {
    float: right;
    max-width: 150px;
    border-radius: 5px;
    margin: 30px;
    margin-top: 10px;
}

h1{
    margin:10px;
}

h2 {
    margin-bottom: 10px;
}

#last-updated{
    color: rgb(233, 233, 162);
    font-size: 14px;
}

#footer-link {
    color: white;
}

