@media only screen and (min-width: 1020px) {
    
    header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 18px;
        
    }
    nav ul li a {
        font-size: 16px;
    }
    
    #logo {
        float: left;
        margin-left: 10em;
        margin-bottom: 1em;
    }
    
    main {
        grid-template-columns: 1fr;
        padding: 15em;
        padding-top: 2em;
        text-align: left;
    }
 }