form {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
 
 }
 form fieldset {
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid  #037171;
    border-radius: 8px;
    color:  #037171;
 }

 /*form*/

.page-form {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

}


h2{ 
    text-align: center;
    padding: 1em;
}

.form-field {
    padding: .5em;
}

form label.top input:required {
    border-left: red solid 4px;
}

form label.top input:required:valid {
    border-left: green solid 4px;
}

form label.top {
    display: block;
    padding: .8rem;
    color: black;
}

form label.top input, form label.top select {
    display: block;
    border: solid 2px #037171;
    border-radius: 8px;
    padding: .5rem;
    width: 100%;
    max-width: 100%;
    background-color: #cee7e7;
    color: #037171;
}

form label.sbs {
    display: block;
    padding: .5em;
    margin-left: 1.2em;
}

#danger-heading {
    padding: 1em;
    color: black;
    margin-left: .5rem;
}

form input.report-button {
    display: block;
    border: none;
    border-radius: 5px;
    background-color:#EE655E;
    color: white;
    padding: 1em;
    margin-bottom: 1rem;
    padding: .75rem 5px;
    width: 100%;
}



@media screen and (min-width: 595px){
   

    form label.top input {
       padding: 0.5rem 5px;
    }
}   