@media only screen and (min-width: 990px) {
    #logo {
        padding: 1em 1em 1em 6em;
    }
    nav ul {
        margin-left: 10em;
    }
    nav ul li a{
        padding: 1em 3em 1em 3em;
    }
    nav ul li a:hover{
        background-color: none;
        color: #583895;
        opacity: 0.5;
    }
    .text-wrapper{
        position: relative;
        margin-top: -300px;
    }
    .content-wrapper2{
        margin-top: 10em;
    }
}