@media only screen and (min-width: 560px) {
    #logo {
        width: 80%;
        margin-top: 9px;
        padding: 1em 1em 1em 2em;
    }
    header{
        display:flex;
    }
    nav ul.hide {
        display: flex;
    }
    nav button {
        display: none;
    }
    nav ul {
        padding: 1em;
    }
    nav ul li a:hover{
        background-color: transparent;
        box-shadow:none;
        color: #583895;
        opacity: 0.5;
    }
    .text-wrapper{
        position: relative;
        margin-top: -200px;
    }
    .text-wrapper p{
        text-align: center;
        width: 50%;
        margin: auto;
        color: white;
        text-shadow: black 1px 2px 3px;
    }
    #pbig {
        display: block;
    }
    #psmall {
        display: none;
    }
    .button-wrapper {
        text-align: center;
        padding: 3em;
    }
    .button-wrapper button{
        padding: .8em 7em .8em 7em;
    }
    .content-wrapper2{
        margin-top: .8em;
    }
    /*footer*/    
footer{
    background-color: #583895;
    color: white;
}
footer div{
    padding: 1.2em;
}
footer div p{
    display: inline-block;
}
.social-media-footer {
    padding: 1em;
    float: right;
}
#footer-info{
    padding-bottom: 2em;
    text-align: center;
} 
.rental {
    padding: 5em;
}
}