@media only screen and (min-width: 560px) {
    main { 
        /* grid-template-columns: 1fr 1fr; */
        padding: 8em;
        padding-top: 2em;
    }
 
    nav ul {
    display: flex;
    }

    nav ul.hide {
        display: flex;
    }

    nav button {
        display: none;
    }

    nav ul li {
    flex: 1 1 100%;
    }

}