.town-card {
    background-color:#00B9AE;
    padding: 1rem;
    margin-bottom: 10px;
 }
 
 .town-card .town-title {
    font-size: 1.2em;
    margin: 0;
    color: white;
 }
 
 .town-card .town-motto {
    font-size: 0.8em;
    padding-top:.5em;
    font-style: italic;
    margin: 0;
    color: white;
 }
 
 .town-card ul.town-info-items {
    list-style-type: none;
    padding: 1rem 0;
    margin: 0 auto;
    color: white;
 }
 
 .town-card ul.town-info-items li {
    margin: 0;
    text-align: left;
    font-size: .8em;
    padding: 3px 0;
 }
 
 .town-card .town-image img {
    width: 100%;
 }
 
 @media only screen and (min-width: 590px) {
    .town-cards {
       display: flex;
       flex-direction: column;
    }
 
    .town-card {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    }
 
    .town-card:nth-child(odd) {
       flex-direction: row-reverse;
    }
 
    .town-summary {
       margin: 0 1rem;
    }
 }
 
 @media only screen and (min-width: 1024px) {
    .town-cards {
       flex-direction: row;
       justify-content: space-between;
    }
 
    .town-card {
       display: block;
       flex-basis: 30%;
       margin: 0.5rem;
    }
 
    .town-summary {
       min-height: 130px;
       position: relative;
       margin-bottom: 1rem;
    }
 
    .town-card ul.town-info-items {
       padding: 0;
       position: absolute;
       bottom: 0;
    }
 }