@media only screen and (min-width: 990px) {
    #logo {
        padding: 1em 1em 1em 6em;
    }
    nav ul {
        margin-left: 10em;
    }
    nav ul li a{
        padding: 1em 3em 1em 3em;
    }
    nav ul li a:hover{
        background-color: none;
        color: #583895;
        opacity: 0.5;
    }
    .text-wrapper{
        position: relative;
        margin-top: -300px;
    }
    .weather-summary{
        margin-top: 10em;
    }
    .content-wrapper h2{
        font-family: 'Open Sans', sans-serif;
        margin: auto;
        margin-top: 70px;
        color: #583895;
    }
    .content-wrapper img{
        opacity: 0.6;
    }
    .upper-tour{
        margin-top:200px;
    }
    .tour-wrap img{
        max-width: 400px;
    }
}