@media only screen and (min-width: 560px) {
    #logo {
        width: 80%;
        margin-top: 9px;
        padding: 1em 1em 1em 6em;
    }
    header{
        display:flex;
    }
    nav ul.hide {
        display: flex;
    }
    nav button {
        display: none;
    }
    nav ul {
        padding: 1em;
        margin-left: 1em;
    }
    nav ul li a:hover{
        background-color: transparent;
        box-shadow:none;
        color: #583895;
        opacity: 0.5;
    }
    .text-wrapper{
        position: relative;
        margin-top: -200px;
    }
    .content-wrapper h2{
        font-family: 'Open Sans', sans-serif;
        margin: auto;
        margin-top: 50px;
        color: #583895;
    }
    .content-wrapper img{
        opacity: 0.6;
    }
    .upper-tour{
        margin-top:100px;
    }
    .tour-wrap img{
        max-width: 50%;
    }
    /*footer*/    
footer{
    background-color: #583895;
    color: white;
}
footer div{
    padding: 1.2em;
}
footer div p{
    display: inline-block;
}
.social-media-footer {
    padding: 1em;
    float: right;
}
#footer-info{
    padding-bottom: 2em;
    text-align: center;
} 
.rental {
    padding: 5em;
}
}