h1,
h2,
h3,
h4 {
    font-family: 'Baloo 2', cursive;
}


/*nav*/
#logo {
    width: 30%;
    max-width: 150px;
    margin-top: 7px;
    padding: 1em 1em 1em 8.5em;
}
nav {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color: #583895;
    text-align: center;
}
nav ul {
    list-style-type: none;
	margin: 0;
    overflow: hidden;
    padding: 0;
}
nav ul li a {
    display: block;
    color: #583895;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
nav ul li a:hover{
    background-color:#583895;
    color: white;
}
nav ul li a:active{
    background-color:#583895;
    color: white;
    opacity: 0.8;
}
nav button {
    margin: auto;
    margin: .2rem 2%;
    background: transparent;
    border: none;
    color: #583895;
    padding: .5em;
}
nav ul.hide {
    display: none;
}
#active_page {
    color: #583895;
    opacity: 0.5;
}



/*body*/
body {
    font-family: 'Open Sans', sans-serif;
}
#home-img{
    width: 100%;
}
.text-wrapper{
    position: relative;
    margin-top: -30px;
}
.text-wrapper h2{
    text-align: center;
    width: 50%;
    padding: 1em;
    margin: auto;
}
.text-wrapper p{
    text-align: center;
    width: 50%;
    margin: auto;
    color: white;
    text-shadow: black 1px 2px 3px;
}
.button-wrapper {
    text-align: center;
    padding: 3em;
}
.button-wrapper button{
    padding: .8em 7em .8em 7em;
}

.rental-subtitle {
    color:c
}
.rental {
    padding: 2em;
}
.contact {
    background-color: #583895;
    opacity: 0.8;
    padding: 1.5em;
    margin: 1em;
    text-align: center;
    color: white;
    border-radius: 7px;
}

.contact a{
    color: #e1d6f5;
    font-weight: bold;
    /* text-decoration: none; */
}
.content-wrapper h2{
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-top: -90px;
    color: #583895;
}
.content-wrapper img{
    opacity: 0.6;
}
.upper-tour{
    margin-top:30px;
}
.tour-wrap img{
    max-width: 50%;
}
button {
    padding: .8em 4em .8em 4em;
    color: white;
    background-color: #583895;
    border: none;
    border-radius: 20px
}


/*footer*/    
footer{
    background-color: #583895;
    color: white;
}
footer div{
    padding: 1.2em;
}
footer div p{
    display: inline-block;
}
.social-media-footer {
    padding:  0 .2em 0 .2em;
    float: right;
}
#footer-info{
    padding-bottom: 2em;
    text-align: center;
} 
