@media only screen and (min-width: 560px) {
    #logo {
        width: 80%;
        margin-top: 9px;
        padding: 1em 1em 1em 2em;
    }
    h2 {
        font-size: 32px;
    }
    header{
        display:flex;
    }
    nav ul.hide {
        display: flex;
    }
    nav button {
        display: none;
    }
    nav ul {
        padding: 1em;
        margin-left: 1em;
    }
    nav ul li a:hover{
        background-color: transparent;
        box-shadow:none;
        color: #583895;
        opacity: 0.5;
    }
    .text-wrapper{
        position: relative;
        margin-top: -200px;
    }
    .weather-summary{
        margin-top: .8em;
    }
    .thanks-div{
        padding:10em;
        padding-bottom:14em;
    }
}