@media only screen and (min-width: 990px) {
    nav ul {
        padding-right: 16em;
        padding-left: 16em;
    }
    nav ul li a{
        padding: 1em 3em 1em 3em;
    }
    nav ul li a:hover{
        background-color: none;
        color: #583895;
        opacity: 0.5;
    }
    .text-wrapper{
        position: relative;
        margin-top: -300px;
    }
    .weather-summary{
        margin-top: 10em;
    }
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2em;
        justify-items: center; 
    }
    h2 {
        font-size: 26px;
    }
    .wrap{
        padding: 15em 5em 15em 5em;
    }
    .title{
        padding: 1em;
    }
    .text-wrapper{
        margin-top: -250px;
    }
    .text-wrapper p{
        font-size: 32px;
    }
}