@media only screen and (min-width: 560px) {
    #logo {
        width: 80%;
        margin-top: 9px;
        padding: 1em 1em 1em 6em;
    }
    header{
        display:flex;
    }
    nav ul.hide {
        display: flex;
    }
    nav button {
        display: none;
    }
    nav ul {
        padding-right: 16em;
        padding-left: 16em;
    }
    nav ul li a:hover{
        background-color: transparent;
        box-shadow:none;
        color: #583895;
        opacity: 0.5;
    }
    .text-wrapper{
        position: relative;
        margin-top: -150px;
    }
    .weather-summary{
        margin-top: .8em;
    }
    .cards {
        grid-template-columns: 1fr 1fr;
    }
    h2 {
        font-size: 26px;
    }
    .title{
        padding: 1em;
    }
    .wrap{
        padding: 2em;
        padding-top: 2em;
    }
}