/* .weather-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

table {
    background-color: #583895;
    padding:1.5em;
    border-radius: 10px;
}

td{
    color: white;
    padding: .8em;
}

.weather-summary {
    width: 70%;
    margin: auto;
}

.weather-forecast {
    width: 70%;
    margin: auto;

}

.forecast-table{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    background-color: #583895;
    padding:1.5em;
    border-radius: 10px;
}

.forecast-day {
    display: flex;
    color: white;
}
.dow {
    padding: .5em;
}
.temp {
    padding: .5em;
}


@media only screen and (min-width: 560px) {
    .weather-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .weather-summary {
        grid-column: 1/2;
        width: 70%;
        margin: auto;
    }
    .weather-forecast {
        grid-column: 2/2;
        width: 70%;
        margin: auto;
    
    }

}

@media only screen and (min-width: 990px) {
    .weather-summary {
        grid-column: 1/2;
        width: 50%;
        margin: auto;
    }
    .weather-forecast {
        grid-column: 2/2;
        width: 50%;
        margin: auto;
    
    }

}